.note-editor.note-editor-margin {
  background-image: linear-gradient(90deg,transparent 49px,#ffe0c4 0,#ffe0c4 51px,transparent 0),linear-gradient(#eee .1em,transparent 0);
    padding-left: 55px;
}

.textarea.form-control {
  height: auto;
}

.note-editor {
  background-size: 100% 20px;
  background-color: #fff;
  line-height: 20px;
  margin-top: 5px;
  padding: 0;
  padding-bottom: 1px;
  border: none;

  .note-editor__count-words {
    border: 1px solid gray;
    border-radius: 5px;
  }
}

.note-editor:focus {
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}

.b-l-gray {
  border-left: 1px solid #d3d3d3;
}

.text-subl {
  text-decoration: underline;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}
