<div class="chat-conversation-background">
  <img class="chat-conversation-background__img" [src]="'assets/images/background-chat.png'">
  <div class="showChat_inner" #scrollChat>
    <div *ngFor="let message of conversation;">
      <div class="media chat-messages" *ngIf="message.isChatbot">
        <a class="media-left p-relative" href="javascript:">
          <img class="img-radius img-chat" src="assets/images/chatbot-icon.jpg" alt="Generic placeholder image">
        </a>
        <div class="media-body chat-menu-content">
          <p class="chat-cont" *ngIf="message.typeMessage == 'text'">{{message.text}}</p>
          <div *ngIf="message.typeMessage == 'text-button'" class="chat-cont">
            <p>{{message.text}}</p>
            <div class="text-center" *ngIf="message.model === 'question-feedback'" (click)="verifyScriptChatbot()">
              <button class="btn btn-primary c-pointer">
                <span>Não senti falta</span>
              </button>
            </div>
            <div class="text-center" *ngIf="message.model === 'go-article'">
              <div class="text-center m-t-10" *ngIf="loadingActionArticle">
                <i class="fa fa-lg fa fa-hand-peace-o"></i>
                <i class="fa fa-spin fa-spinner fa-lg fa-spin-orange m-l-10"></i>
              </div>
            </div>
          </div>
          <p class="chat-time pull-right">{{message.sendAt | date:"MMM d, y, h:mm:ss a"}}</p>
        </div>
      </div>
      <div class="media chat-messages" *ngIf="!message.isChatbot">
        <div class="media-body chat-menu-reply">
          <p class="chat-cont">{{message.text}}</p>
          <p class="chat-time pull-right">{{message.sendAt | date:"MMM d, y, h:mm:ss a"}}</p>
        </div>
        <div class="media-right photo-table p-relative">
          <a href="javascript:">
            <img class="img-radius img-radius img-chat" src="assets/images/user-icon.jpg" alt="Imagem de usuário interagindo com chatbot">
          </a>
        </div>
      </div>
    </div>
    <div>
      <div class="media chat-messages" *ngIf="loading">
        <a class="media-left p-relative" href="javascript:">
          <img class="img-radius img-chat" src="assets/images/chatbot-icon.jpg" alt="Generic placeholder image">
        </a>
        <div class="typing-container">
          <div class="typing-indicator"></div>
          <div class="typing-indicator"></div>
          <div class="typing-indicator"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-reply-box">
    <div class="right-icon-control">
      <input type="text" class="form-control search-text" placeholder="Escreva aqui" (keydown.enter)="sendMessage()" [(ngModel)]="textUser"
        autofocus>
      <div class="form-icon" (click)="sendMessage()">
        <i class="fa fa-paper-plane"></i>
      </div>
    </div>
  </div>
</div>

