/* You can add global styles to this file, and also import other style files */

 body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}


$i:0;
@while $i<=50 {
  .m-t-#{$i} {
      margin-top:#{$i}px !important;
  }
  .m-t--#{$i} {
    margin-top:-#{$i}px !important;
  }

  .m-b-#{$i} {
    margin-bottom:#{$i}px !important;
  }
  .m-b--#{$i} {
    margin-bottom:-#{$i}px !important;
  }

  .m-r-#{$i} {
    margin-right:#{$i}px !important;
  }
  .m-r--#{$i} {
    margin-right:-#{$i}px !important;
  }

  .m-l-#{$i} {
    margin-left:#{$i}px !important;
  }
  .m-l--#{$i} {
    margin-left:-#{$i}px !important;
  }

  $i:$i+5;
}

.pull-right { float: right; }
.pull-left { float: left; }

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.c-pointer {
  cursor: pointer;
}

.p-10 {
  padding: 10px;
}

ng-select.simple > div {
  min-height: 45px;

  border-color: #cccccc !important;

  > div.single {
    > div.placeholder,
    > div.toggle,
    > div.value {
      line-height: 40px !important;
    }
  }
}

.tag-chips {
  .ng2-tag-input {
    line-height: 30px;
    border-radius: 2px;
    border: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da !important;
    margin-bottom: 5px;
    padding: 6px !important;
    tag {
      color: #fff !important;
      background: linear-gradient(45deg, #00bcd4, #08e3ff) !important;
      border-radius: 2px !important;
      &.tag--editing {
        color: #333 !important;
        background: #fff !important;
      }
    }
    &.bootstrap {
      @extend tag;
    }
    &.minimal {
      tag {
        border-radius: 15px !important;
      }
    }
    &.dark tag {
      background: linear-gradient(45deg, #150909, #bbb8b8) !important;
    }
    &.danger tag {
      background: linear-gradient(45deg, #FF5370, #ff869a) !important;
    }
    &.success tag {
      background: linear-gradient(45deg, #2ed8b6, #59e0c5) !important;
    }
    &.warning tag {
      background: linear-gradient(45deg, #FFB64D, #ffcb80) !important;
    }
    &.minimal-dark tag {
      border-radius: 15px !important;
      background: linear-gradient(45deg, #150909, #bbb8b8) !important;
    }
    &.minimal-danger tag {
      border-radius: 15px !important;
      background: linear-gradient(45deg, #FF5370, #ff869a) !important;
    }
    &.minimal-success tag {
      border-radius: 15px !important;
      background: linear-gradient(45deg, #2ed8b6, #59e0c5) !important;
    }
    &.minimal-warning tag {
      border-radius: 15px !important;
      background: linear-gradient(45deg, #FFB64D, #ffcb80) !important;
    }
  }
  .tag__text {
    line-height: 2;
    font-size: 11px;
    font-weight: 400;
  }
  delete-icon svg {
    height: 12px !important;
    line-height: 1;
    vertical-align: top !important;
    margin-top: 5px;
    path {
      fill: #fff !important;
    }
  }
  .ng2-tags-container tag {
    padding: 3px 6px !important;
    height: 27px !important;
  }
  delete-icon:hover {
    transform: none !important;
  }
  .ng2-tag-input__text-input {
    height: auto !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.display-none {
  display: none;
}

.color-orange-template {
  color: orange;
}

.text-bold {
  font-weight: bold;
}
