/* You can add global styles to this file, and also import other style files */

 body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}


$i:0;
@while $i<=50 {
  .m-t-#{$i} {
      margin-top:#{$i}px !important;
  }
  .m-t--#{$i} {
    margin-top:-#{$i}px !important;
  }

  .m-b-#{$i} {
    margin-bottom:#{$i}px !important;
  }
  .m-b--#{$i} {
    margin-bottom:-#{$i}px !important;
  }

  .m-r-#{$i} {
    margin-right:#{$i}px !important;
  }
  .m-r--#{$i} {
    margin-right:-#{$i}px !important;
  }

  .m-l-#{$i} {
    margin-left:#{$i}px !important;
  }
  .m-l--#{$i} {
    margin-left:-#{$i}px !important;
  }

  $i:$i+5;
}

.pull-right { float: right; }
.pull-left { float: left; }

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-10 {
  padding: 10px;
}

ng-select.simple > div {
  min-height: 45px;

  border-color: #cccccc !important;

  > div.single {
    > div.placeholder,
    > div.toggle,
    > div.value {
      line-height: 40px !important;
    }
  }
}
